name: "[Workflow] PR"

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: ESLint Javascript
    uses: ./.github/workflows/lint_job.yml

  test:
    name: Jest Tests
    needs: ['lint']
    uses: ./.github/workflows/test_job.yml
